.tweet__button{
    background-color: gray;
    text-decoration: none;
    color:black;
    font-family: var(--para);
    font-size: 14px;
    padding:0% 3%;
    border: 2px solid;
    margin-left:20px;
    margin-right:230px;
}