img{
    width: auto;
    height: auto;
    max-width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;


    
   
}
.image__entier{
    width: 375px;
    height: auto;
}
figure img {
    display: flex;
    align-items: center;
}
.arti2{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    
}
.art3 {
    margin-left: auto;
}


