.tweet{
    display: flex;
    flex-direction: column;
}

.tweet__title{
    margin:2;
}

.tweet__button{
    margin:2;
    background-color: gray;
    text-decoration: none;
    color:black;
    font-family: var(--para);
    font-size: 14px;
    padding:2px 3%;
    border: 2px solid;
    margin-left:20px;
    margin-right: 100px;
}

.tweet__img{
    margin:0;
    align-self: center;
}

.tweet__intro{
    margin:2;
}