.nav-toogle{
 
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.nav-toogle-bar,
.nav-toogle-bar::before,
.nav-toogle-bar::after
{
  content: "";
  background-color: black;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transition: all .4s ease-in-out;
}
.nav-toogle-bar::before{

  top: -10px; 
}

.nav-toogle-bar::after{
  top: 10px; 
}

.menu-open .nav-toogle-bar{
  transform: rotate(135deg);
  background-color:black;


}
.menu-open .nav-toogle-bar::before,
.menu-open .nav-toogle-bar::after
{
  transform: rotate(90deg);
  background-color:black;
  top: 0;
  
}

.menu{
  background-color: var(--rose-pâle);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
 text-align: center;
  flex-direction: column;
  transform: translateX(100vw);
  transition: all .4s;
  z-index: 1;
}
.menu__titre{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-open .menu{
  transform: translateX(0);
}

.menu-open,
.menu-open body{
  overflow: hidden;
}
.menu__list {
    list-style: none;
    text-align: center;
    margin: top 80%;

  }
  .menu__item {
   
    border-bottom: 2px solid;
    border-color: black;
  }

.menu a{
  color: black;

  align-items: center;
  

}
.menu__link{
    color: black;
    font-family: var(--para);
    font-size: var(--heading-2);
    text-decoration: none;
    background-color:var(--rose-pâle); 
 
    

}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    text-align: center;
  }


.menu-open .menu li{
  transform: translateX(0);
  opacity: 1;
}
.h1__menu{
   
     font-size: 1em;
     color: black;
     display: flex;
    justify-content: center;
    justify-items: center;
     text-align: center;
     left: 0px;
     margin: 0px;
      top: 23px;
  
 }

.menu-open .menu li:nth-child(n+1) {transition-delay: .4s; }
.menu-open .menu li:nth-child(n+2) {transition-delay: .5s; }
.menu-open .menu li:nth-child(n+3) {transition-delay: .6s; }
.menu-open .menu li:nth-child(n+4) {transition-delay: .7s; }
.menu-open .menu li:nth-child(n+5) {transition-delay: .8s; }
.menu-open .menu li:nth-child(n+6) {transition-delay: .9s; }

