@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
    font-size: 62.5%
}

body{
    background-color: var(--);
    margin:0px;
}

h1{
    font-family: var(--site);
}       

h2{
    font-family: var(--para);
    font-size: var(--heading-2);
    text-align: center  ;
    line-height: 1.5;
    margin:-7% 10%;
}

h3{
    font-family: var(--para);
    font-size: var(--heading-3);
    margin-left:25px;
    line-height: 1.5;
}

p{
    font-family: var(--para);
    font-size: var(--body-1);
    line-height: 1.5;
    margin:  23px;
}


body{
    font-family: 'IBM Plex SANS', sans-serif;
    font-size: 2.4rem; /*équivaut à 24 pixels*/
    line-height: 2.4;
    background-color: var(--rose-pâle);
}  
.projet__nom{
    font-family: var(--site);
    font-size: var(--heading-3);
    text-align: center;

}

.projet__titre{
    font-family: var(--site);
    font-size: var(--heading-2);
    text-align: center;
    color: violet;
    margin: 9px;

}
